

        <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;width:100%;background-color: #312f44">
            <tbody>
                <tr>
                    <td style="font-family:monospace,sans-serif;font-size:14px; display:block;Margin:0 auto;max-width:565px;padding:10px;width:565px;
                        height: 700px">
                        <div
                            style="clear:both;box-sizing:border-box;display:block;Margin:0 auto;max-width:565px;padding:0px;width:100%;min-width:100%">
                            <div style="clear:both;width:100%;min-width:100%">
                                <table border="0" cellpadding="0" cellspacing="0"
                                    style="border-collapse:separate;width:100%;min-width:100%;margin-top: 50px;">
                                    <tbody>
                                        <tr>
                                        </tr>
                                        <tr>



                                            <td valign="top"
                                                style="clear:both;border-collapse:collapse;border-spacing:0;margin:0;width:100%;padding:0">


                                                <tr>
                                                    <td> 
                                                        
                                                
                                                          
                                                      
                                                        
                                                    </td>
                                                        <td style="clear:both;color:#ffffff;min-width:100%;font-size: 24px;line-height: 24px;">
                                                         
                                                         <a style="text-decoration: none; color: #ffffff;font-weight: bold;" href="https://oddslog.com">OddsLog.com</a>   
                                                        
                                                        </td>
                                                </tr>

                                               
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div style="clear:both;min-width:100%">
                                <table style="border-collapse:separate;min-width:100%;background:#61616f;margin-top: 10px;">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="background: #4b4c68;font-family:monospace,sans-serif;font-size:14px;vertical-align:top;box-sizing:border-box;padding:20px 20px 0">
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                    style="border-collapse:separate;min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td  style="font-family:monospace,sans-serif;font-size:16px;line-height:51px;vertical-align:top">
                                                                <p
                                                                    style="font-family:monospace,sans-serif;font-size:16px;line-height:25px;font-weight:500;margin:0px 0px 16px 0px;color:#ffffff">
                                                                    Hey!
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;vertical-align:top;text-align:inherit">
                                                                <p
                                                                    style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;font-weight:normal;margin:0;Margin-bottom:16px;color:#ffffff">
                                                                    Welcome! Your signup to <a style="color: #ffffff;" href="https://oddslog.com">OddsLog.com</a> has been received.
                                                                </p>
                                                                <p
                                                                    style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;font-weight:normal;margin:0;Margin-bottom:16px;color:#ffffff">
                                                                    To activate your account into an operational status, you must visit this activation link:
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr style="text-align:center">
                                                            <td  style="font-family:'Montserrat',sans-serif;margin:24px 0;font-size:14px;min-width:80%;display:inline-block;vertical-align:top;background-color:#111111;border-radius:200px;text-align:center">
                                                                <a href="{{activeLink}}"
                                                                    style="display:inline-block;width:100%;color:#ffffff;background-color:#2171ba;border-radius:200px;box-sizing:border-box;text-decoration:none;font-size:16px;font-weight:600;margin:0;padding:12px 25px;text-transform:uppercase;border:2px solid #2e4056"
                                                                    target="_blank">🟢 Activate</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;vertical-align:top;text-align:inherit">
                                                                <p
                                                                    style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;font-weight:normal;margin:0;Margin-bottom:16px;color:#dedff0">
                                                                    If you received this email by mistake, you can
                                                                    safely ignore it.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table border="0" cellpadding="0" cellspacing="0"
                                                    style="border-collapse:separate;padding-bottom:32px;padding-top:16px;min-width:100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;vertical-align:top">
                                                                <p
                                                                    style="font-family:monospace,sans-serif;font-size:16px;line-height:24px;font-weight:normal;margin:0;Margin-bottom:6px;color:#dedff0">
                                                                    Thank you,
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="font-family:monospace,sans-serif;letter-spacing:0.3px;vertical-align:top;padding-bottom:0;line-height:24px;font-size:16px;font-weight:600;color:#dedff0">
                                                                OddsLog Team 💛
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

